<header>
  <nav>
    <div class='mobile-menu-toggle'>
      <button
        class='hamburger'
        aria-label='Toggle mobile menu'
        aria-expanded='false'
        aria-controls='mobile-menu'
      >
        <div class='bar'></div>
      </button>
    </div>
    <ul class='menu' role='menubar'>
      <% const pages = ['About Us', 'RSVP', 'Photos', 'Details']; %> <%
      pages.forEach(page => { %>
      <a href="/<%= page.toLowerCase().replace(/\s+/g, '-') %>" role='menuitem'
        ><%= page %></a
      >
      <% }); %>
    </ul>
  </nav>
  <nav class='mobile-menu' role='menu' aria-hidden='true'>
    <% pages.forEach(page => { %>
    <a href="/<%= page.toLowerCase().replace(/\s+/g, '-') %>" role='menuitem'
      ><%= page %></a
    >
    <% }); %>
  </nav>
</header>
