<%- include('partials/meta'); %>
<body class='aboutus-page'>
<%- include('partials/header'); %>

<div class='aboutus-wrapper'>
  <h2 class='aboutus-catchphrase'>Once upon a time... </h2>
  <p>Heather and Doug went on their first date into New York City and saw a random band called <strong>Little Stranger.</strong> <em>Little</em> did they know, it would become their favorite band ever!</p>
  <div class=aboutus-img-wrapper>
    <img class='aboutus-img' src='../public/src/images/DH07_comp.jpg' alt='Doug and Heather many years ago'>
  </div>
  <div class=aboutus-img-wrapper>
    <img class='aboutus-img' src='../public/src/images/ls_comp.jpg' alt='Little Stranger concert'>
  </div>
  <p>It seemed like a blink of an eye, and they were one big happy family.</p>
  <div class=aboutus-img-wrapper>
    <img class='aboutus-img' src='../public/src/images/DH08_comp.jpg' alt='Family beach day selfie'>
  </div>
  <p>They even had a new addition to the family.</p>
  <div class=aboutus-img-wrapper>
    <img class='aboutus-img' src='../public/src/images/DH09_comp.jpg' alt='Zuko drinking Dunkin'>
  </div>
  <p>A few years later, Doug took Heather back to where it all started, where he bent the knee and proposed to her at the Top of the Rock.</p>
  <div class=aboutus-img-wrapper>
    <img class='aboutus-img' src='../public/src/images/DH01_comp.jpg' alt='Doug down on one knee'>
  </div>
  <div class=aboutus-img-wrapper>
    <img class='aboutus-img' src='../public/src/images/DH10_comp.jpg' alt='Doug and Heather snowboarding selfie'>
  </div>
  <p>And now, we welcome you to come celebrate their <strong>"Happy ever after."</strong></p>
</div>

<%- include('partials/footer'); %>
