<%- include('partials/meta'); %>
<body class='details-page'>
  <%- include('partials/header'); %>


<div class='details-container'>
  <div class='details-wrapper'>
    <div class='details-qa'>
      <div class='details-title'>
        <h1>Q + A</h1>
        <h2>Here are a few things you might want to know:</h2>  
      </div>
      <div>
        <h2>Q: Where is the Chelsea Sun Inn?</h2>
        <h2>A: 487 Stone Church Rd, Mt. Bethel, PA. 
          <a href='https://chelseasun.com/directions/'>Click here for directions from their website.</a>
        </h2>
      </div>
      <div>
        <h2>Q: What time should I arrive at the ceremony?</h2>
        <h2>A: Please arrive at the venue between 4 and 4:30. There is a trolley that will bring you from the main house to the ceremony site. Ceremony will begin at 5:00 pm. </h2>  
      </div>
      <div>    
        <h2>Q: What time does the reception begin?</h2>
        <h2>A: The reception is scheduled to start directly following the ceremony, around 6:00 pm.</h2>
    </div>
      <div>
        <h2>Q: Is the wedding indoors or outdoors?</h2>
        <h2>A: The ceremony and reception are mostly outdoors. The ceremony will be moved indoors in the case of rainy weather. The reception area is tented, and the main house is available to escape any rain, as well. Fingers crossed for a beautiful early Fall evening!</h2>
      </div>
      <div>
        <h2>Q: What will the wedding be like?</h2>
        <h2>A: We want everyone to have fun! The ceremony will be more traditional and formal, but the reception is a backyard party (with a little extra flair and a special dance or two). There will be music and food and lots of yard games. If you have suggestions for games, or would like to bring one, please reach out to us. We are so excited to have our families together and celebrate with our closest friends. </h2>
      </div>
      <div>
        <h2>Q: Is there a dress code?</h2>
        <h2>A: There is no formal dress code -  but casual wedding attire or semi-formal attire is suggested.</h2>
      </div>
      <div>
        <h2>Q: Where should I stay locally, if I do not want to travel home?</h2>
        <h2>A: There are several hotels around the Stroudsburg, East Stroudsburg area. There are also rentals via Airbnb in the surrounding areas, as well. Please reach out to Doug or Heather with any questions, or if you need help finding the best option!
          <a href=https://www.tripadvisor.com/HotelsNear-g53245-d1544980-Chelsea_Sun_Inn-Mount_Bethel_Pennsylvania.html>Click here for some hotels nearby.</a>
        </h2>
      </div>
      <div>
        <h2>Q: Are you registered?</h2>
        <h2>A: We do not have a registry.</h2>
      </div>
      <div>
        <h2>Q: How can I reach you to ask another question?</h2>
        <h2>A: You can email us at <a href="mailto:horvillelucyfamily@gmail.com">horvillelucyfamily@gmail.com</a> or reach either of us by phone.</h2>
      </div>
    </div>
    
  </div>
</div>

<%- include('partials/footer'); %>