<%- include('partials/header'); %>

<div>Guest Info Page</div>
<div>Radio Input Here: Select who you are.</div>
<div>Select Response: yes or no</div>
<div>Select possible food alergies.</div>
<button type='submit'>Confirm RSVP</button>

<%- include('partials/footer'); %>