<%- include('partials/header'); %>

<main>
  <div>
    <h1 class="title">Heather & Doug</h1>
  </div>
  <div class="location">
    <h2>September 28th</h2>
    <h4>Chelsea Sun Inn</h4>
    <p>Address here</p>
  </div>
</main>

<div class="btn">
  <a href="./rsvp">
    <button>RSVP</button>
  </a>
</div>

<%- include('partials/footer'); %>
