<%- include('partials/meta'); %>
<body class='home-page'>
<%- include('partials/header'); %>

<h2 class='catchphrase' data-text='Getting Married!'>Getting Married!</h2>
<img class='stars' src='../public/src/images/stars_comp.png' alt='stars'>

<main>
  <div class='detes'>
    <h2>September 28th</h2>
    <p>at the</p>
    <h2><u>Chelsea Sun Inn</u></h2>
    <p>487 Stone Church Dr</p>
    <p>Mt Bethel, PA 18343</p>
    <img class='ink-img1' src='../public/src/images/ink_comp.png' alt='ink splot'>
    <img class='ink-img2' src='../public/src/images/ink02_comp.png' alt='ink splot'>
  </div>
</main>
<!-- 
<div class='home-photo-wrapper'>
  <img src='' alt=''>
</div> -->

<%- include('partials/footer'); %>
