<%- include('partials/meta'); %>
<body class='photos-page'>
<%- include('partials/header'); %>

<div class='photos-wrapper'>
  <div class='photos-title'>
    <h2>Photo Album</h2>
  </div>
  <div class='photo-album'>Coming soon!</div>
</div>

<%- include('partials/footer'); %>
