<%- include('partials/meta'); %>
<body class='rsvp-page'>
<%- include('partials/header'); %>

<div class='rsvp-wrapper'>
<div>RSVP Page</div>
<div>Input Last Name</div>
<button type='submit'>Search</button>
</div>

<%- include('partials/footer'); %>
