<%- include('partials/header'); %>

<div>Confirmation Page</div>
<div>Thanks for your reponse!</div>
<div>Click <a href='/details'>here</a> for important info and questions you might have.</div>

<%- include('partials/footer'); %>