/*====================
        GLOBALS
======================*/

@font-face {
  font-family: 'Dancing';
  src: url('./fonts/DancingScript-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'MarckScript';
  src: url('./fonts/MarckScript-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'BadScript';
  src: url('./fonts/BadScript-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Bacasime_Antique';
  src: url('./fonts/BacasimeAntique-Regular.ttf') format('truetype');
  font-weight: 400;
}

html,
body {
  height: 100%;
  margin: 0;
  color: hsl(58, 88%, 94%);
  font-family: 'Dancing', serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*=========================
      NAVBAR / MENU
=========================*/

/* Mobile Navigation */

.mobile-menu-toggle {
  display: flex;
  position: absolute;
  background-color: #fff;
  z-index: 6;
  width: 100%;
  min-height: 4.2rem;
  top: 0;
}

.hamburger {
  display: block;
  position: relative;
  width: 45px;
  height: 35px;
  margin-top: 10px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  left: 85%;
  z-index: 6;
}

.hamburger .bar, .hamburger::after, .hamburger::before {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background-color: hsl(0, 0%, 71%);
  border-radius: 5px;
  margin: 6px 0px;
  transition: 0.4s;
  z-index: 6;
}

.hamburger.is-active::before {
  transform: translateY(11px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.hamburger.is-active::after {
  transform: translateY(-11px);
}

.menu {
  display: none;
  padding: 0;
}

.menu li {
  margin-bottom: 10px;
}

.menu a {
  display: block;
  text-align: center;
}

.mobile-menu {
  display: block;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  z-index: 3;
  background-color: hsla(248, 83%, 9%, 0.5);
  padding-top: 120px;
  transition: 0.4s;
}

.mobile-menu.is-active {
  left: 0;
}

.mobile-menu a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  background-color: #1f103f;
  color: hsl(58, 88%, 94%);
  text-decoration: none;
  transition: transform 700ms;
}

.mobile-menu a:hover {
  background-color: #24104f;
  transform: translateY(-2px);
  transition: transform 250ms;
}

/* Desktop Navigation */

@media (min-width: 819px) {
  .mobile-menu-toggle {
    display: none; /* Hide the hamburger icon in desktop view */
  }

  .menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
  }

  .menu a {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
    width: 10rem;
    height: 4rem;
    border-radius: 5px;
    font-size: 2rem;
  }

  .menu a:hover {
    color: hsl(50, 100%, 98%);
    transform: scale(105%);
    background-color: hsla(0, 0%, 100%,0.20);
  }
}

/*================
      FOOTER
=================*/

footer {
  font-family: 'Dancing', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 5rem;
  background-color: #000;
  margin-top: 1rem;
}

footer .footer_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*================
    HOME PAGE
=================*/

.home-page {
  background-image: url('./images/DH01_comp.jpg');
  background-size: 150%;
  background-position: -80px 150px;
  background-repeat: no-repeat;
  background-color: #000;
  overflow: hidden;
}

h1.title {
  font-family: 'Bacasime_Antique', serif;
  font-weight: lighter;
  display: block;
  position: relative;
  max-width: 75%;
  margin: 0;
  padding: 1.5rem 0 1rem 0;
  top: -10px;
  left: 20px;
  color: #000;
  font-size: 2.5rem;
  z-index: 6;
}

h2.catchphrase {
  font-family: 'Dancing', serif;
  color: transparent;
  position: relative;
  overflow: hidden;
  padding-left: 30%;
}

h2.catchphrase::before {
  content: attr(data-text);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  left: 30%;
  width: 100%;
  height: 100%;
  color: hsl(58, 100%, 93%);
  overflow: hidden;
  animation: animate 2s linear;
  white-space: nowrap;
}

.stars {
  width: 8rem;
  position: absolute;
  top: 3rem;
  rotate: 10deg;
  z-index: 6;
}

@keyframes animate {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.ink-img1 {
  width: 1.5rem;
  position: absolute;
  left: 6rem;
  top: 3.5rem;
  rotate: 180deg;
}

.ink-img2 {
  width: 3rem;
  position: absolute;
  right: 6rem;
  bottom: 3.5rem;
  rotate: 180deg;
}

.detes {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  font-family: 'Bacasime_Antique';
  background-color: #fff;
  color: #000;
  box-shadow: 0 6px 8px inset #888888;
  padding: 2rem 0;
  margin-top: 15rem;
}

.detes h2:first-child {
  font-family: 'MarckScript';
  text-shadow: 2px 2px 4px #888888;
}

.detes > * {
  margin: 0.5rem auto;
}

.detes p {
  margin: 2px auto;
}

@media (min-width: 819px) {
  .home-page {
    background-size: contain;
    background-position-x: -5rem;
    background-position-y: 0rem;
    background-size: 120%;
  }

  h1.title {
    display: flex;
    justify-content: center;
    font-size: 5rem;
    margin-bottom: 1.5rem;
    color: hsl(58, 88%, 94%);
    max-width: 100%;
  }

  h2.catchphrase {
    font-size: 3rem;
    margin: 0 25%;
  }

  h2.catchphrase::before {
    animation: animate 3s linear;
    position: absolute;
    left: 250px;
  }

  .detes {
    top: 4rem;
    background-color: transparent;
    color: hsl(58, 88%, 94%);
    box-shadow: none;
    margin: 0;
  }

  .detes h2:first-child {
    text-shadow: none;
  }

  footer {
    height: 2rem;
    margin-top: 8rem;
    background-color: transparent;
  }

  .footer_message {
    margin: 0;
  }

  .ink-img1 {
    display: none;
  }

  .ink-img2 {
    display: none;
  }

  .stars {
    display: none;
  }
}
